*.cursorColor:  #CDCDCD
*fading: 35
*fadeColor: #CDCDCD

*background:  #000000
*foreground:  #cdcdcd
*color0:  #1c1c1c
*color1:  #cc6666
*color2:  #a1bf78
*color3:  #e5c078
*color4:  #7d8fa3
*color5:  #9f7aa5
*color6:  #8fafd7
*color7:  #cdcdcd
*color8:  #363636
*color9:  #af5f5f
*color10:  #a1bf78
*color11:  #f4bf75
*color12:  #8197bf
*color13:  #aa759f
*color14:  #88C0D0
*color15:  #cdcdcd
st.shell: /bin/fish

st.font:	PragmataPro Mono Liga:pixelsize=16:antialias=true:autohint=true;
